[Unit]
Description=Homebrain
Documentation=
Requires=

[Service]
Type=simple
ExecStart=/usr/local/bin/homebrain
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
