# Homebrain specific
homebrain/logs

# Project specific
venv/
build/
dist/

# Python specific
__pycache__
*.pyc
*.egg-info

# IDE/editor specific
.idea/
*.swp

# Documentation specific
docs/_build

# Also ignoring these, at least for now.
docs/Makefile 
docs/make.bat

# In case we get node/bower deps on the site-files in the future
bower_components
node_modules
npm-debug.log
