<h2>Nodes</h2>

<div ng-repeat="node in nodes">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/nodes/{{node.name}}">{{node.name}}</a>
        </div>
        <div class="panel-body well-sm">
            <table class="table table-bordered">
                <p style="color: green;">{{node.status}}</p>
                <tr>
                    <td>IP</td>
                    <td>{{node.ip}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
